<template>
  <div class="calendar">
    <div class="calendar__top">
      <button class="calendar__top-button" @click="prevMonth()">
        <img class="calendar__top-button-img" src="@/assets/icon/left-arrow.png" alt="prev">
      </button>
      <div class="calendar__top-text">{{ currentMonth }}</div>
      <button class="calendar__top-button" @click="nextMonth()">
        <img class="calendar__top-button-img" src="@/assets/icon/right-arrow.png" alt="next">
      </button>
    </div>
    <div class="calendar__body">
      <div class="calendar__body-top">
        <p class="calendar__body-top-days"
           v-for="day in daysOfWeeks"
           :key="day.number"
        >{{ day.title }}</p>
      </div>
      <div class="calendar__body-elements">
        <div class="calendar__body-elements-item"
             v-for="item in cells"
             :key="item.date"
             :class="item.class">
          <span class="calendar__body-elements-item-day">{{ item.number }}</span>
          <template v-if="item.events">
            <div class="calendar__body-elements-item-message"
                 v-for="event in item.events"
                 :key="event.id"
                 :class="event.eventType">
              <span>{{ getTime(event.date) }}</span>
              {{ event.name }}
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';

moment.locale('ru');

export default {
  name: 'Calendar',
  props: {
    events: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      selectedMonth: moment(),
      cells: [],
      daysOfWeeks: [
        {
          title: 'Понедельник',
          number: 1,
        },
        {
          title: 'Вторник',
          number: 2,
        },
        {
          title: 'Среда',
          number: 3,
        },
        {
          title: 'Четверг',
          number: 4,
        },
        {
          title: 'Пятница',
          number: 5,
        },
        {
          title: 'Суббота',
          number: 6,
        },
        {
          title: 'Воскресенье',
          number: 7,
        },
      ],
    };
  },
  computed: {
    currentMonth() {
      if (this.selectedMonth.year() !== moment().year()) {
        return this.selectedMonth.format('MMMM YYYY');
      }
      return this.selectedMonth.format('MMMM');
    },
  },
  mounted() {
    this.initMonth();
  },
  methods: {
    getClass(date, weekday) {
      let className = '';
      if (moment().isSame(date, 'days')) {
        className += 'today ';
      } else if (moment().isAfter(date, 'days')) {
        className += 'before ';
      }
      if (weekday > 4) {
        className += 'weekends ';
      }
      return className;
    },
    initNextMonth() {
      const nextMonth = this.selectedMonth.clone().add(1, 'months');
      let day = 1;

      while (day < 7) {
        const date = nextMonth.date(day);
        const weekday = date.weekday();

        this.cells.push({
          weekday,
          number: day,
          date: date.format(),
          class: this.getClass(date, weekday),
        });
        if (date.weekday() === 6) {
          break;
        }
        day += 1;
      }
    },
    initPreviousMonth() {
      const afterMonth = this.selectedMonth.clone().subtract(1, 'months');
      let day = afterMonth.endOf('month').date();
      const diff = day - 6;

      while (diff < day) {
        const date = afterMonth.date(day);
        const weekday = date.weekday();

        this.cells.unshift({
          weekday,
          number: day,
          date: date.format(),
          class: this.getClass(date, weekday),
        });
        if (date.weekday() === 0) {
          break;
        }
        day -= 1;
      }
    },
    initMonth() {
      this.cells = Array.from({ length: this.selectedMonth.daysInMonth() }, (v, k) => {
        const date = this.selectedMonth.date(k + 1);
        const weekday = date.weekday();

        return {
          weekday,
          number: k + 1,
          date: date.format(),
          class: this.getClass(date, weekday),
        };
      });
      if (this.cells[0].weekday !== 0) {
        this.initPreviousMonth();
      }
      if (this.cells[this.cells.length - 1].weekday !== 6) {
        this.initNextMonth();
      }

      this.cells = this.cells.map((item) => {
        const date = moment(item.date);
        const events = this.events.filter((event) => date.isSame(event.date, 'days'));
        return {
          ...item,
          events,
        };
      });
    },
    getTime(date) {
      return moment(date).format('HH:mm');
    },
    prevMonth() {
      this.selectedMonth = moment(this.selectedMonth)
        .subtract(1, 'month');
      this.initMonth();
    },
    nextMonth() {
      this.selectedMonth = moment(this.selectedMonth)
        .add(1, 'month');
      this.initMonth();
    },
  },
};
</script>

<style scoped lang="scss">
@import "src/assets/main";

.calendar {
  max-width: 975px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background: $white;
  border-radius: 10px;
  line-height: 1;
  font-weight: 600;

  &__top {
    display: flex;
    align-items: center;

    &-button {
      padding: 0;
      background: none;
      border: none;
      width: 15px;
      height: 15px;

      &-img {
        width: 100%;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &-text {
      font-size: 20px;
      text-transform: uppercase;
      color: #52566B;
      margin: 0 10px;
    }
  }

  &__body {
    &-top {
      display: flex;
      justify-content: space-between;

      &-days {
        max-width: 130px;
        width: 100%;
        text-align: end;
        text-transform: uppercase;
        &:nth-child(n + 6) {
          color: #9C9C9C;
        }
      }
    }

    &-elements {
      display: flex;
      flex-wrap: wrap;

      &-item {
        max-width: 110px;
        min-height: 110px;
        width: 100%;
        border-radius: 10px;
        margin-right: 10px;
        padding: 10px;
        box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.1);

        &-day {
          display: flex;
          justify-content: right;
        }

        &-message {
          white-space: nowrap;
          overflow: hidden;
          padding: 5px;
          border-radius: 5px;
          text-overflow: ellipsis;
          font-size: 14px;
          cursor: pointer;
          margin-bottom: 2px;

          &.confirmed {
            background: $green-light;
            color: $green;
          }

          &.expects {
            background: $yellow-light;
            color: $yellow;
          }

          &.denied {
            background: $red-light;
            color: $red;
          }

          &:hover {
            position: relative;
            width: max-content;
            overflow: initial;
            z-index: 1;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &.before {
          color: $dark-grey;
          background: $grey-light;
        }

        &.today {
          color: $green;
          border: 1px solid $dark-grey;
        }

        &.weekends {
          color: $lilac;
        }

        &:nth-child(n + 8) {
          margin-top: 10px;
        }

        &:nth-child(7n) {
          margin-right: 0;
        }
      }
    }
  }
}
</style>
