@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$white: #ffffff;
$green: #68c27e;
$yellow: #ffaa00;
$red: #C39A9B;
$lilac: #CDD4E6;
$dark-grey: #A6A6A6;
$green-light: #E8F7EA;
$yellow-light: #F7ECD7;
$red-light: #FDECED;
$grey-light: #F5F5F5;

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    background: $grey-light;
}

h1 {
    margin: 0;
}
