<template>
  <div id="app">
    <calendar :events="events" />
  </div>
</template>
<script>
import Calendar from '@/components/Calendar.vue';

export default {
  name: 'App',
  components: {
    Calendar,
  },
  data() {
    return {
      events: [
        {
          id: 1,
          date: '2021-10-27T16:00:00',
          name: 'Запланирована видео конференция с руководством',
          eventType: 'confirmed',
        },
        {
          id: 2,
          date: '2021-11-02T16:00:00',
          name: 'Запланирована видео конференция с руководством',
          eventType: 'expects',
        },
        {
          id: 3,
          date: '2021-11-02T18:00:00',
          name: 'Запланирована видео конференция с руководством',
          eventType: 'confirmed',
        },
        {
          id: 4,
          date: '2021-11-10T11:00:00',
          name: 'Запланирована видео конференция с руководством',
          eventType: 'denied',
        },
        {
          id: 5,
          date: '2021-11-12T10:00:00',
          name: 'Запланирована видео конференция с руководством',
          eventType: 'expects',
        },
        {
          id: 6,
          date: '2021-12-12T10:00:00',
          name: 'Запланирована видео конференция с руководством',
          eventType: 'expects',
        },
      ],
    };
  },
};
</script>

<style lang="scss">
@import "src/assets/main";

</style>
